<!-- navbar starts -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" [ngStyle]="navbg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">AQUASHOW</a>
    <div class="navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/search">Search</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item" *ngFor="let cate of categories">
              <a class="nav-link" [routerLink]="['/category/'+cate.genr]">{{cate.name}}</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar ends -->

<router-outlet></router-outlet>
